{% load static %}

{% block body %}
{% include 'user_navigation.html' %}

<script>
  function checkpass()
  {
  if(document.changepassword.newpassword.value != document.changepassword.confirmnewpassword.value)
  {
  alert("New password and Confirm Password does not match");
  document.changepassword.confirmnewpassword.focus();
  return false;
  }
  return true;
  }
</script>


<marquee style="font-family:'Monotype Corsiva';font-size:25px;color:darkcyan;background-color:black;font-weight:bold;margin-top:1%">
  Change Password
</marquee>

<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
  {% csrf_token %}
  <label for=""><b>Current Password</b></label>
  <input class="form-control" type="password" name="currentpassword" required="true">

  <label for=""><b>New Password</b></label>
  <input class="form-control" type="password" name="newpassword" required="true">

  <label for=""><b>Confirm New Password</b></label>
  <input class="form-control" type="password" name="confirmnewpassword" required="true">

  <input class="btn btn-primary" type="submit" value="Submit" style="margin-top:2%;color:darkcyan;background-color:black;height:40px;">
</form>



{% ifequal error "no" %}
<script >
  alert("Password Updated Successfull");
  window.location = ("{% url 'Logout' %}")
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script >
  alert("Something went wrong..");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script >
  alert("Your current password is wrong...");
</script>
{% endifequal %}

{% include 'footer.html' %}
{% endblock %}
