{% load static %}

{% block body %}
{% include 'user_navigation.html' %}

<marquee style="font-family:'Monotype Corsiva';font-size:25px;color:darkcyan;background-color:black;font-weight:bold;margin-top:1%">
  Profile
</marquee>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form class=" mt-5" name="signup" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">First Name</label>
            <input class="form-control"type="text" name="fname" value="{{student.user.first_name}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="">Last Name</label>
            <input class="form-control"type="text" name="lname" value="{{student.user.last_name}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Contact</label>
            <input class="form-control" type="text" name="contact" value="{{student.mobile}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">Email ID</label>
            <input class="form-control" type="text" name="email" value="{{student.user.username}}" readonly required>
          </div>
        </div>



        <div class="form-row">
          <div class="form-group col-md-6">
             <label for="">Gender</label>
             {% if student.gender == 'Male' %}
             <div style="border:1px solid lightgrey; padding:5px;border-radius:6px">

             <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="customRadioInline1" name="gender" value="Male" class="custom-control-input" checked>
               <label class="custom-control-label" for="customRadioInline1">Male</label>
             </div>
             <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="customRadioInline2" name="gender" value="Female" class="custom-control-input">
               <label class="custom-control-label" for="customRadioInline2">Female</label>
             </div>

             </div>
             {% else %}
             <div style="border:1px solid lightgrey; padding:5px;border-radius:6px">

             <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="customRadioInline1" name="gender" value="Male" class="custom-control-input">
               <label class="custom-control-label" for="customRadioInline1">Male</label>
             </div>
             <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="customRadioInline2" name="gender" checked value="Female" class="custom-control-input">
               <label class="custom-control-label" for="customRadioInline2">Female</label>
             </div>

             </div>
             {% endif %}

          </div>
          <div class="form-group col-md-6">
            <label >Image</label>
            <input class="form-control" type="file" name="image" >
          </div>
        </div>

        <input type="submit" class="btn btn-primary my-3" value="Submit" style="width:170px">

      </form>
    </div>
    <div class="col-sm-4 mt-5 text-center">
      <img src="{{student.image.url}}" width="300px" height="300px">
    </div>
  </div>
</div>




{% ifequal error "no" %}
<script >
  alert("Profile Updated Successfully");
  window.location = ("{% url 'user_home' %}")
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script >
  alert("Something went wrong..");
</script>
{% endifequal %}
{% include 'footer.html' %}
{% endblock %}
